  <div class="custom_reports">
  <div class="d-flex align-items-center justify-content-between gap-3 w-100">
    <div  class="d-flex align-items-center justify-content-between gap-3 w-100 position-relative"  *ngFor="let item of counts">
      <div class="custom_reports-box" [ngClass]="item.border">
        <div  class="report_value d-flex align-items-center">
          <span  class="symbol ng-star-inserted" [ngClass]="item.bgColor">
           <svg width="30.58" height="24.46">
               <use  [attr.xlink:href]="item.icon"></use>
             </svg>
           </span>
           <div class="symbol_text d-flex flex-column">
             <span class="symbol_text--title text-gray-2 font-16 font-600">{{item.name}}</span><span class="symbol_text--data font-20 text-black-2 font-600">{{item.value}}</span></div>
         </div>
      </div>
      <div class="bottom-bgcolor position-absolute" [ngClass]="item.bgColor"></div>
    </div>
  </div>
  </div>


