<div class="inner-wrapper">
  <div class="inner-wrapper_body">
    <app-header-summary [counts]="callhistoryIcons"  [module]="'CallHistory'"></app-header-summary>
    <div class="title font-20 font-500 mb-2">Call History</div>

      <app-grid-wrapper
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      [dateFilter]="currentDateFilter"
      (selectedDateEmitter)="selectedDate($event)"
      (isDispatchedOnly)="updateDispatchedOnly($event)"
      (searchText)="searchCallhistory($event)"
      (exportToExcel)="GetCallListExport()"
      [module]="'CallHistory'"
      ></app-grid-wrapper>
</div>
</div>

<mat-sidenav-container class="sidebar" [ngClass]="{'hide': !sidePanelData}"  [hasBackdrop]="false">
  <mat-sidenav #callhistorysidenav mode="over" position="end" class="sidebar_nav" (keydown.escape)="close()">
    <div *ngIf="loading" class="loading-spinner">    
      <div id="loader">
        <div l a></div><div l b></div><div l c></div><div l d></div><div l e></div><div l f></div><div l g></div><div l h></div></div>      <!-- <mat-progress-spinner class="mat-spiner" mode="indeterminate"></mat-progress-spinner> -->
    </div>
      <app-call-history-detail-side-bar *ngIf="sidePanelData" [callHistoryData]="sidePanelData"></app-call-history-detail-side-bar>
  </mat-sidenav>
</mat-sidenav-container>
