<div class="example-action-buttons text-end">
  <button class="btn text-primary font-14 font-500">+ Add New</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-description>
                        <div class="equipments-deatils w-100 d-flex justify-content-between align-items-center">
        <div class="equipments-deatils-list d-flex align-items-center">
          <img src="assets/images/login_img.png" alt="" class="img-fluid">
          <div class="equipments-deatils-list-report">
            <h2 class="font-14 mb-2">Steam Vaporizer</h2>
            <div class="d-flex gap-4 align-items-center">
              <span class="font-12">Qty: 23</span>
              <button class="btn btn-primary-light py-0 px-1 font-10">Upto Date</button>
            </div>
          </div>
        </div>
        <span class="ellipse-icon">
          <svg width="3" height="13">
             <use xlink:href="assets/images/sprite-icons.svg#ellipse-icon"></use>
          </svg>
      </span>
      </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
      <div class="mat-expansion-panel-body-list">
        <div class="d-flex gap-3 align-items-center">
          <span>121</span>
          <span class="text-gray-3">dsnbdbdf</span>
          <span class="text-red-1">12/12/20223</span>
          <p class="text-gray-2 d-flex align-items-center gap-2">
            <svg width="10" height="12">
              <use xlink:href="assets/images/sprite-icons.svg#edit-icon"></use>
           </svg>
           <svg width="10" height="12">
            <use xlink:href="assets/images/sprite-icons.svg#delete-icon"></use>
         </svg>
          </p>
        </div>
      </div>
    <!-- <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field> -->
  </mat-expansion-panel>
</mat-accordion>
