<div class="row">
    <div class="col-12">
        <div class="top_list top-results">
            <div class="top_list-header d-flex mb-4 justify-content-between align-items-center">
                <h2 class="title">Top Reponders</h2>
                <div class="d-flex justify-content-end">
                    <app-date-component-renderer [currentDateFilter]="currentDateFilter"
                        [topResponders]="true"></app-date-component-renderer>
                </div>
            </div>
            <div class="pcr-popup_record">
                <div class="heading-list column d-flex justify-content-between">
                    <div class="heading-list_name column-width_15">#</div>
                    <div class="heading-list_name column-width_35">Member</div>
                    <div class="heading-list_name column-width_25">Day Call</div>
                    <div class="heading-list_name column-width_25">Night Call</div>
                </div>
                <div class="pcr-popup_record-data" *ngFor="let data of topRespondersList; let i = index">
                    <div class="data-listing column d-flex justify-content-between">
                        <div class="data-info column-width_15">
                            <p>{{i + 1}}</p>
                        </div>
                        <div class="data-info column-width_35">
                                <span class="members font-12">{{data.badge_number}}</span>
                        </div>
                        <div class="data-info column-width_25">
                            <p>{{data.daycalls}}</p>
                        </div>
                        <div class="data-info column-width_25">
                            <p>{{data.nightcalls}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-6">
        <div class="top_list customer_summary">
            <div class="top_list-header d-flex mb-3 justify-content-between align-items-center">
                <h2 class="title">PCR Summery</h2>
                <div class="d-flex justify-content-end">
                    <app-date-component-renderer [currentDateFilter]="currentDateFilter"
                        [pcrSummary]="true"></app-date-component-renderer>
                </div>
            </div>
            <div class="pcr_summary">
                <table class="table-default">
                    <thead>
                        <tr>
                            <th>Member</th>
                            <th>Open PCR</th>
                            <th>Completed PCR</th>
                            <th class="text-end">Approved PCR</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of pcrSummaryList">
                        <tr class="data_list">
                            <td>
                                <div class="members">{{item.Member}}</div>
                            </td>
                            <td (click)="openPcrDialog(item,true)"> <span class="open-pcr">{{item.OpenPcr}}</span></td>
                            <td (click)="openPcrDialog(item,false)"><span class="open-pcr">{{item.CompletedPcr}}</span>
                            </td>
                            <td>{{item.ApprovedPcr}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</div>
